.PitchContainer {
    height: 100%;
}

.Pitch {
    width: 100%;
    min-height: 400px;
    height: 100%;
    position: relative;
    background-color: #2e7d32;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 4px;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
}

.Pitch:not(.PitchToSave) {
    display: flex;
}

.Pitch:not(.PitchToSave)::after {
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: -1;
}

.Pitch.PitchToSave {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    border-radius: 0;
}

.PitchWrapper {
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.PitchInside {
    border: #fff 4px solid;
    position: relative;
    width: 100%;
    padding-bottom: 150%;
    overflow: hidden;
}

.MiddleLine {
    height: 4px;
    background: #fff;
    position: absolute;
    width: 100%;
    top: calc(50% - 2px);
}

.MiddleCircle {
    width: 25%;
    height: 16%;
    position: absolute;
    border-radius: 50%;
    border: #fff 4px solid;
    top: calc(42% - 4px);
    left: calc(37.5% - 4px);
}

.PenaltyBox {
    border: #fff 4px solid;
    width: 58%;
    height: 15%;
    position: absolute;
    top: -4px;
    left: calc(21% - 4px);
}

.PenaltyBox::before {
    content: '';
    border: #fff 4px solid;
    width: calc(46%);
    height: calc(34%);
    position: absolute;
    top: -4px;
    left: calc(27% - 4px);
}

.PenaltyBox:last-of-type {
    bottom: -4px;
    top: unset;
}

.PenaltyBox:last-of-type::before {
    bottom: -4px;
    top: unset;
}

.PenaltyBox::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 30%;
    border: #fff 4px solid;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    top: 100%;
    left: calc(30% - 4px);    
}

.PenaltyBox:last-of-type::after {
    bottom: 100%;
    top: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
}

.KickOffSpot {
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

.PenaltySpot {
    background-color: #fff;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    top: calc(10% - 2px);
    left: calc(50% - 2px);
}

.PenaltySpot:last-of-type {
    bottom: calc(10% - 2px);
    top: unset;
}

.Corner {
    border: #fff 3px solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -14px;
    top: -14px;
}

.Corner:nth-of-type(2) {
    left: unset;
    right: -14px;
}

.Corner:nth-of-type(3) {
    top: unset;
    bottom: -14px;
}

.Corner:nth-of-type(4) {
    top: unset;
    left: unset;
    bottom: -14px;
    right: -14px;
}

.Player {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    border: #fff 3px solid;
}

.Player span {
    font-size: 12px;
    position: absolute;
    bottom: -17px;
    transform: translateX(-50%);
    left: 12px;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 2px;
    white-space: nowrap;
}

.Pitch .Player {
    transform: scale(1.15);
}

.Pitch .Player span {
    font-size: 13px;
    bottom: -23px;
}

.GK {
    bottom: 28px;
    left: calc(50% - 13px);
}

.CB {
    bottom: 20%;
    left: calc(50% - 13px);
}

.LB {
    bottom: 20%;
    left: 7%;
}

.RB {
    bottom: 20%;
    right: 7%;
}

.DM {
    bottom: 35%;
    left: calc(50% - 13px);
}

.CM {
    bottom: 40%;
    left: calc(50% - 13px);
}

.LM {
    bottom: 48%;
    left: 7%;
}

.RM {
    bottom: 48%;
    right: 7%;
}

.ST {
    bottom: 73%;
    left: calc(50% - 13px);
}

.LF {
    bottom: 70%;
    left: 15%;
    right: 7%;
}

.RF {
    bottom: 70%;
    right: 15%;
}

.GK-wrapper, .LB-wrapper, .CB-wrapper, .RB-wrapper, .DM-wrapper, .CM-wrapper, .LM-wrapper, .RM-wrapper, .LF-wrapper, .ST-wrapper, .RF-wrapper {
    position: initial;
}

/* FORMATIONS */

.f-3-4-3 .CB:nth-child(1), .f-3-5-2 .CB:nth-child(1) {
    left: 15%;
}

.f-3-4-3 .CB:nth-child(2), .f-3-5-2 .CB:nth-child(2) {
    left: calc(50% - 13px);
}

.f-3-4-3 .CB:nth-child(3), .f-3-5-2 .CB:nth-child(3) {
    left: unset;
    right: 15%;
}

.f-3-5-2 .CM:nth-child(1), .f-3-5-2 .CM:nth-child(2), .f-4-5-1 .CM:nth-child(1), .f-4-5-1 .CM:nth-child(2), .f-4-4-2 .CM:nth-child(1), .f-4-4-2 .CM:nth-child(2), .f-5-4-1 .CM:nth-child(1), .f-5-4-1 .CM:nth-child(2) {
    bottom: 48%;
}

.f-3-4-3 .CM:nth-child(1), .f-3-5-2 .CM:nth-child(1), .f-4-5-1 .CM:nth-child(1), .f-4-4-2 .CM:nth-child(1), .f-3-5-2 .ST:nth-child(1), .f-4-5-1 .CB:nth-child(1), .f-4-4-2 .CB:nth-child(1), .f-4-4-2 .ST:nth-child(1), .f-4-3-3 .CB:nth-child(1), .f-5-4-1 .CM:nth-child(1), .f-5-3-2 .ST:nth-child(1) {
    left: calc(35% - 13px);
}

.f-3-4-3 .CM:nth-child(2), .f-3-5-2 .CM:nth-child(2), .f-4-5-1 .CM:nth-child(2), .f-4-4-2 .CM:nth-child(2), .f-3-5-2 .ST:nth-child(2), .f-4-5-1 .CB:nth-child(2), .f-4-4-2 .CB:nth-child(2), .f-4-4-2 .ST:nth-child(2), .f-4-3-3 .CB:nth-child(2), .f-5-4-1 .CM:nth-child(2), .f-5-3-2 .ST:nth-child(2) {
    left: calc(65% - 13px);
}

.f-4-3-3 .CM:nth-child(1), .f-5-3-2 .CM:nth-child(1) {
    left: 15%;
    bottom: 48%;
}

.f-4-3-3 .CM:nth-child(2), .f-5-3-2 .CM:nth-child(2) {
    left: unset;
    right: 15%;
    bottom: 48%;
}

.f-4-3-3 .DM {
    bottom: 38%;
}

.f-5-4-1 .CB:nth-child(1), .f-5-3-2 .CB:nth-child(1) {
    left: 26%;
}

.f-5-4-1 .CB:nth-child(3), .f-5-3-2 .CB:nth-child(3) {
    left: unset;
    right: 26%;
}

@media(max-width: 959px) {
    .Pitch .Player {
        transform: scale(1);
    }
    .Pitch:not(.PitchToSave) .Player span {
        font-size: 10px;
        bottom: -17px;
    }
}